<h1>Search For a Date Range</h1>

<form action = "/results" method = "GET">
	<label for="startdate">Start Date:</label>
	<input type = "date"  name = "startdate"><br>
	<label for="enddate">End Date:</label>
	<input type = "date"  name = "enddate"><br>
	<input type = "submit">
</form>

